*{
    margin: 0;
    padding:0;
}
body{
    background-color: rgb(216, 15, 55);
    color:white;
}
.Projects{
    display: flex;
   
    justify-content: space-between;
    background-color:rgb(14, 146, 133);
}

nav{
    display:flex;
    justify-content: right;
    align-items: center;
    height:50px;
    background-color:rgb(173, 50, 113);
}
.he{
    padding: 50px;
background-color: rgb(14, 146, 133);
    height: 70px;
    text-align: center;
    font-size: 30px;
}
nav ul{
    height: auto;
    width: auto;
    display:flex;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    
    text-decoration: none;
    color: white;
    margin:0 23px;
}

 a:hover{
    border-radius: 8px;
    background: rgb(211, 227, 67);
}
.first{
    text-align: center;
    margin:200px 0;
    font-size: 3rem;
}

footer{
    background-color: red;
}

.Projects .project img{
    height:300px;
    width: 400px;
  
}

div .desc{
    background-color:grey;
    padding: 15px;
    width: 370px;
    text-align: center;
    position: relative;
    bottom: 10px;
}
div .desc:hover{
    background: rgb(211, 227, 67);
}
div .gallery img{
    float: right;
    display: flex;
    justify-content: space-around;
}
.project{
    margin-left: 30px;
    float:left;
    width:32.6%;
    padding: 5px;
}
.butt1{
    background-color: rgb(14, 146, 133);
    text-align: center;
    
}
.butt1 :hover{
    background-color: chartreuse;
}
.butt1 button{
    color: white;
    background-color:grey;
    border: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height:50px;
    border-radius: 10px;
    
    
}

  


.images img{
    width: 30px;
    height: 30px;
}
.foot{
    padding: 100px;
    text-align: center;
    background-color:grey;
}
.media{
    display:flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 60px;
    font-size: 30px;
    width: auto;
}
button:hover{
    height: 60px;
    /* position:relative;
    top:50px */
}
button{
    background-color:grey;
    border: transparent;
    font-size: 30px;
    
}